html, body {margin:0;height:100%;background-color: #F1F4F4;}
#wrapper {height:auto !important;height:100%;min-height:100%;width:1020px;}
#header {width: 1020px;height:381px;background-image:url('img/header.png');}
#container {width: 1020px;background-image:url('img/content.png');height:auto !important;height:100%;min-height:300px;}
#footer {width: 1020px;height:417px;background-image:url('img/footer.png');}
.head {width: 940px;height:40px;}
.tab_head {padding-top: 39px;width: 820px;}
.clear {clear:both;}
.logo {float:left;padding-top:4px;}
.h1 {float:left;border-right: 1px solid #E5E5E5;height: 31px;width: 450px;padding-top: 9px;}
.h2 {float:left;width: 70px;padding-top: 13px;border-right: 1px solid #E5E5E5;height: 27px;}
.h3 {float:left;width: 40px;padding-top: 7px;border-right: 1px solid #E5E5E5;height: 33px;}
.h4 {float:left;padding-top:8px;padding-left: 10px;border-right: 1px solid #E5E5E5;padding-right: 10px;height: 30px;}
.h4 img {border-radius: 8px;}
.h4 a {text-decoration: none;}
.s1 {width: 28px;height: 22px;}
.s2 {width: 200px;height:22px;background-image:url('img/s2.png');border:0px;padding:0px;margin:0px;outline:none;}
a {text-decoration: underline;color: #50C8E5;font:13px Arial;font-weight: bold;}
.flag {width: 26px;height:23px;background-image:url('img/flag.png');display: block;position: relative;}
.number_mail {position: absolute;top:1px;right: 5px;}
.h3 a {font:8px Arial;color:#fff;}
.name {display: inline;background-image:url('img/pointer.png');background-repeat: no-repeat;background-position: 100% 50%;padding-right: 13px;color: #666666;}
.ava1 {float:left;}
.ava2 {float:left;padding-left: 7px;padding-top: 6px;}
.foto_group {padding-top: 25px;}
.backg {background-color: #F9F5E4;height: 248px;width: 940px;}
.padding_foto {padding-top: 15px;}
.podl {width: 821px;}
.name_group {padding-top:25px;font:24px Arial;font-weight: bold;}
.name_group_old {padding-top:25px;font:24px Arial;font-weight: bold;padding-bottom: 15px;}
.data {font:12px Arial;color: #666666;font-weight: bold;display: inline;padding-left: 5px;}
.name_univer {font:16px Arial;color: #666666;font-weight: bold;padding-top: 7px;}
.name_univer2 {font:16px Arial;color: #666666;font-weight: bold;padding-bottom: 10px;}
.bl1 {float: left;width: 130px;font:13px Arial;color: #666666;font-weight: bold;padding-bottom: 7px;}
.bl2 {float: left;width: 200px;font:13px Arial;color: #666666;font-weight: bold;padding-bottom: 7px;}
.clear {clear: both;}
.best {font:18px Arial;font-weight: bold;padding-top: 30px;padding-bottom: 15px;}
.foto_student {position: relative;width:127px;height:128px;}
.number_r {position: absolute;right: 0px;bottom: 0px;background-color: #EF0373;border-radius: 5px 5px 0 5px;padding-top: 5px;padding-bottom: 4px;padding-left: 10px;padding-right: 10px;color: #fff;font:16px Arial;}
.name_st {padding-top: 7px;}
.thebest {float: left;width: 33%;}
.thebest:nth-child(4) {padding-right: 0px;}
.thebest_r {float: left;width: 20%;padding-bottom: 40px;}
.number_l {position: absolute;right: 0px;bottom: 0px;background-color: #50C8E7;border-radius: 5px 5px 0 5px;padding-top: 5px;padding-bottom: 4px;padding-left: 10px;padding-right: 10px;color: #fff;font:16px Arial;}
.bg_footer {width: 940px;height:191px;background-image:url('img/bg_footer.png');}
.bg_f {padding-top:180px;}
.footer_nav {width: 830px;}
.nav1 {float: left;padding-top: 35px;width: 25%;font:16px Arial;color: #312F2F;font-weight: bold;}
.nav2 {float: left;padding-top: 35px;width: 25%;font:16px Arial;color: #312F2F;font-weight: bold;}
.nav3 {float: left;padding-top: 35px;width: 25%;font:16px Arial;color: #312F2F;font-weight: bold;}
.nav4 {float: left;padding-top: 35px;width: 25%;font:16px Arial;color: #312F2F;font-weight: bold;}
.nav1 ul {padding:0px;margin: 0px;}
.nav1 ul li {list-style-type: none;padding-top:2px;}
.nav1 ul li a {color:#666666;}
.nav2 ul {padding:0px;margin: 0px;}
.nav2 ul li {list-style-type: none;padding-top:2px;}
.nav2 ul li a {color:#666666;}
.nav3 ul {padding:0px;margin: 0px;}
.nav3 ul li {list-style-type: none;padding-top:2px;}
.nav3 ul li a {color:#666666;}
.nav4 ul {padding:0px;margin: 0px;}
.nav4 ul li {list-style-type: none;padding-top:2px;}
.nav4 ul li a {color:#666666;}
.copy {color:#666666;font:14px Arial;padding-top: 10px;font-weight: bold;}